.inner {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  height: 5rem;
}

.scroll-wrapper {
  position: absolute;
  display: flex;
  width: 100vw;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

section {
  display: flex;
  background: rgba(0, 0, 0, 1);
  height: 15em;
  align-items: center;
  gap: 2em;
  animation: swipe var(--speed) linear infinite backwards;
  padding-right: 2em; 
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}



.image:hover h1 {
  transform: scale(1.1) rotate(-2deg);
  transition: transform 0.2s ease-in-out;
  color: lightblue;
}

.image h1 {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  color: #fff;
  /* color: black; */
  /* text-shadow: 0 0 3px #00ffe7, 0 0 3px #00ffe7; */
  /* font-weight: bold; */
  letter-spacing: 1px;
}

image {
  /* max-width: 150px; */
  height: 5rem;
  padding: 0 15px;
  object-fit: cover;
}


image:last-of-type {
  padding-left: 0;
}